/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-icons/css/material-icons.css';

html {
    height: 100vh;
  }
  
body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    height: 100vh;
    display: block;
}

router-outlet + * {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background: rgb(250,250,250);
}